API_ID = 21661450 # Get it by creating an app on https://my.telegram.org
API_HASH = "79612bc71908f95372808520a7eeee74" # Get it by creating an app on https://my.telegram.org
BOT_TOKEN = "7211200915:AAHYmpFqwjyhvVqdXZzjQuBBn7HaJna1gfs" # Get it by creating a bot on https://t.me/BotFather
SUDO_USERS = "2021408974" # List of sudo user's id, separated by space.
DOWNLOAD_DIR = "/data/data/com.termux/files/home/storage/downloads/
" # Download directory where to download files. Must ends with forward slash > / <
